@charset "UTF-8";

html{
  height:100%;
  margin:0;
  padding:0;
}

body {
  min-height: 100vh;
#  height:100%;
  margin:0;
  padding:0;
  background-color:#e5e4e2;
#  background-image: url("/img/night-sky.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
